@font-face {
    font-family: Jura;
    src: url(../css/fonts/Jura-VariableFont_wght.ttf);
  
}
body{
    background-color: #212121;
    color: #fff;
    font-family: Jura;

}

.fa{
    padding: 10px;

}
.fa-instagram{
    display: flex !important;
    justify-content: center;
    padding-right: -5px !important;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.container-lg{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px 50px 20px 50px;
}
.div_footer_item{
}
.container-column{
    flex-direction: column;
    align-items: center;
}
.container-md{
    width: 50%;
    display: flex;
    margin: 10px;
}
.button{
    border-radius: 4px;
    padding: 10px 15px 10px 15px;
    margin: 10px 10px 10px 10px;
    font-weight:500;
    align-items: center;
    -webkit-box-shadow: 0px 7px 19px -3px #000000; 
    box-shadow: 0px 7px 19px -3px #000000;
}
.button-border{
    border-radius: 24px;
    padding-left: 34px;
    padding-right: 34px;
    border: none;
    border-color: transparent;
    background-color: #00DA87;
    color: whitesmoke;
}
.button-destaque {
    border: solid;
    border-color: transparent;
    background-color: #42257C;
    color: whitesmoke;

}
.font-title{
    font-size: 30px;
    text-align: center;
}
.font-destaque{
    font-weight: bolder;
    color: #5666F6;
}
.p_desabled{
    color: #7E7E7E;
}
.button-destaque:hover .gg-arrow-right{
    animation: animation-to-right .4s ease infinite alternate;
}
@keyframes animation-to-right {
    from{
        transform: translateX(0);
    }    
    to{
        transform: translateX(4px);
    }    
}

