/* imagem banner index*/
#background-index{

}
/*  Menu  */
#nav-bar{
    align-items: center;
    justify-content: space-around;
    
}
#nav-bar ul{
    color: whitesmoke;
    justify-content: space-around;
    align-items: center;
    
}
#nav-bar ul li{
    margin: 30px 30px 30px 30px ;
    padding: 5px 10px 5px 10px ;
    cursor: pointer;
    border-radius: 4px;
    border:0.5px solid;
    border-color: transparent;

}
#nav-bar ul li:hover{
    border:0.5px solid #00DA87;
    transition: all 0.5s ease-in-out;


}
.fa-xl{
    font-size: 1.7em !important;
    margin: 0px 0px 0px 0px;
}

h3{
    margin-bottom:5px;
    margin-top: 17px;
}
.span_destaque{
    background-color: #00DA87;
}

#logo{
    cursor: pointer;

}
#logo:hover{
    cursor: pointer;
    width: 210px;

}
#button_cadastro{
    border: 0.5px solid transparent;
    background-color: #fff;
    color: #42257C;

    font-weight: 600;
}
#button_cadastro:hover{
    border: 0.5px solid transparent;
    background-color: transparent;
    color: white;

    border-color: #42257C;
}

#button_login{
    background-color: #42257C;
    color: #fff;
    border: 0.5px solid transparent;
    font-weight: 600;
}
#button_login:hover{
    background-color: transparent;
    color: white;
    border: 0.5px solid white;
}
/* ACABA MENU */
#p_banner{
    text-align: start;

}
#div_banner_frase{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    height: 350px;
}
#div_frase{
    margin-bottom: 30px;
}
#div_banner_button{
    display: flex;
    flex-direction: column-reverse;
    margin: 40px 0px 0px 40px;
}
#div_banner_button button{
    align-self: flex-end;
}

#div_motiv{
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
}

#mountain-image{
    width: 90%;
    background-color: #606060;
    background-image: url(../images/Ativo\ 9.png);
    background-repeat: no-repeat;
    height: 450px;
}
.mountain-text{
    width: 100%;
}

 .div_checks{
    width: 100%;
    justify-content: center;
    align-items: center;
}

.gg-check{
    color: #00DA87;
}
.div_footer_item{
    justify-content: space-between;
    align-items: center;
}
#div_direitos{
    align-self: center;
    justify-self: center;
}