:root {
    --color-primary: #42257C;
    --color-primary-light: #5666F6;
    --white: #f0f0f0;
    --white-dash: #FAFAFA;
    --green: #00DA87;
    --desabled: #7E7E7E;
    --dark: #212121;
    --color-error: #DB1313;
    --color-check: #1FC762;
    --color-grey: #686868;
}
