@import "colors.css";
.cls-1 {
    fill: var(--color-primary-desabled);
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
    
}
/*
.perna:hover{
    cursor: pointer;
     fill: yellow; 
}
 .perna{
    fill:aquamarine;
}
.reto-abdominal{
    fill: red;
}
.obliquo{
    fill: cadetblue;
}
.braco{
    fill: chartreuse;
}
.peitombro{
    fill: violet;
}
.trapezio{
    fill: rgb(52, 52, 133);
} */
.desabled{
    fill: var(--desabled);
}
.combo:hover{
    fill:var(--color-primary);
}