@import "colors.css";
/* imagem banner index*/

/*  Menu  */
#nav-bar {
    align-items: center;
    justify-content: space-around;
    font-weight: 800;
}

#nav-bar ul {
    color: var(--white);
    justify-content: space-around;
    align-items: center;
}

.fa-volume-high {
    color: var(--green);
    cursor: pointer;
}

#div_aguardar {
    align-self: center;
    display: none;
}

#nav-bar ul li {
    margin: 30px 30px 30px 30px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    border: 0.5px solid;
    border-color: transparent;
}

#nav-bar ul li:hover {
    border: 0.5px solid var(--green);
    transition: all 0.5s ease-in-out;
}

.fa-xl {
    font-size: 1.7em !important;
    margin: 0px 0px 0px 0px;
}

h3 {
    line-height: 30px;
    margin-bottom: 5px;
    margin-top: 17px;
}

.span_destaque {
    background-color: var(--green);
}

#logo:hover {
    cursor: pointer;
    width: 210px;

}

#button_cadastro {
    border: 0.5px solid transparent;
    background-color: var(--white);
    color: var(--color-primary);

    font-weight: 600;
}

#button_cadastro:hover {
    border: 0.5px solid transparent;
    background-color: var(--color-primary);
    color: var(--white);
    border-color: var(--color-primary);
    transition: all 0.4s ease-in-out;

}

#button_login {
    background-color: var(--color-primary);
    color: var(--white);
    border: 0.5px solid transparent;
    font-weight: 600;
}

#button_login:hover {
    background-color: var(--white);
    color: var(--color-primary);
    border: 0.5px solid var(--white);
    transition: all 0.4s ease-in-out;

}

/* ACABA MENU */
#p_banner {
    text-align: start;

}

#div_banner_frase {
    justify-content: space-evenly;
    align-items: center;
    height: 550px;
}

#frase {
    justify-self: center;
    align-self: center;
    width: 50%;
    font-size: 150%;
    text-align: center;
}

#div_banner_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_banner_button button {
    align-self: flex-end;
}

#div_motiv {
    width: 60%;
    text-align: center;
    margin-bottom: 20px;
}

#mountain-image {
    width: 80%;
    background-color: var(--desabled);
    background-image: url(../images/montanha.png);
    background-repeat: no-repeat;
    height: 450px;
}

.mountain-text {
    width: 100%;
}

.div_checks {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.gg-check {
    color: var(--green);
}

.div_footer_item {
    justify-content: space-between;
    align-items: center;
}

#div_direitos {
    align-self: center;
    justify-self: center;
}

#container-box {
    align-items: center;
    justify-content: space-evenly;
    height: 450px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 20px; */
    height: 80%;
    width: 20%;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

#box-central {
    align-self: flex-start;
    justify-self: flex-start;
    border: none;
}

.svg-box {
    width: 80px;
    height: 80px;
}

.p-box {
    text-align: center;
}

.box h4 {
    color: var(--green);
}

#mensagem_erro {
    display: flex;
    justify-content: center;
}