@import "colors.css";

body {
    background-color: var(--white);
    color: var(--dark);
    overflow: hidden;
}

.flex-row {
    justify-content: space-between;
    background-color: var(--white);
    color: var(--dark);

}

.container-analises {
    width: 85%;
    align-items: center;
}

/*MENU*/
.container-menu {
    width: 15%;
    height: 100vh;
    background-color: var(--dark);
    border-radius: 0px 7px 7px 0px;
    justify-content: space-around;
    align-items: center;
}

#menu-top {
    width: 100%;
    height: 20%;
}

#menu-mid {
    width: 100%;
    height: 70%;
    justify-content: start;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    color: var(--white);
}

#menu-bottom {
    width: 80%;
    height: 10%;
    justify-content: start;
    padding: 0px 15px 0px 15px;
}

#menu-bottom span {
    margin-left: 10px;
}

.fa-power-off {
    color: var(--white);
}

#div_dinamica {
    width: 80%;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 0px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 650px;
    overflow: hidden;
}


#div_dinamica>div {
    width: 0px;
    height: 100%;
    margin-left: -100%;
    opacity: 0;
}

#kpi_porcentagem_frequencia {
    font-weight: bold;
    cursor: inherit;
    color: var(--green);
}

#div_dinamica>div.show {
    width: 100%;
    height: 100%;
    margin-left: 0%;
    transition: 1s ease;
    opacity: 1;
    transition-delay: 0.5s;
}

.header {
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.face {
    width: 50px;
}

.fa-solid {
    cursor: pointer;
}

.fa-bell:hover {
    color: var(--color-primary-light);
    cursor: pointer;
}

ul {
    justify-content: space-around;
    height: 40%;
    width: 100%;
}

ul li {
    cursor: pointer;
}

.topico-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.ativador {
    background-color: var(--color-primary-light);

}

.div-select-menu {
    width: 3%;
}

.topico-menu:hover .div-select-menu {
    width: 3%;
    background-color: var(--color-primary-light);

}

.topico-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#menu-mid span {
    color: var(--desabled);
}

#menu-mid span {
    width: 80%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.img_pointer {
    cursor: pointer;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-grey);
}

.menu_user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    align-items: center;
    width: 100%;
}

/*CONTAINER-BODY*/
.dinamica {
    justify-content: space-around;
    padding-left: 15px;

}

.container-body {
    width: 85%;
    background-color: var(--white);
    align-items: center;
    overflow-y: auto;
    height: 100vh;
}


.container-box {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
}

.box-dados {
    text-align: center;
    align-items: center;
    justify-content: space-around;
    height: 90%;
    width: 100%;
    margin: 10px;
    border-left: solid 1px;
    border-color: #DCDCDC;
}



.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#p_duvida_treinou {
    color: var(--white);
    font-weight: bold;
    display: flex;
    align-self: center;
    justify-self: center;
    background-color: var(--desabled);
    width: 100%;

    border-radius: 8px 8px 0px 0px;

}

#p_duvida_treinou p {
    margin-top: 10px;
}

.pointer {
    cursor: pointer;
}

#h3_foi_treinar {
    background-color: var(--green);
    height: 100%;
}

#h3_foi_treinar:hover {
    color: var(--white);
}

#h3_nao_treinou {
    background-color: var(--color-error);
    height: 100%;
}

#h3_nao_treinou:hover {
    color: var(--white);
}

.p_box_kpi {
    color: var(--color-dark);
}

.box-dados p {
    font-weight: lighter;
}

.h1_box_number {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-grey);
}


.box-number span {
    padding-top: 15px;
    color: var(--green);
}

.desempenho button {
    align-self: flex-end;
}

.desempenho {
    width: 80%;
    justify-content: space-around;
}

#table_desempenho {
    border: solid 0.5px black;
    text-align: center;

}

.table-title {
    background-color: var(--color-grey);
    padding: 5px;
}

.container-lateral {
    width: 19%;
}

#calendario-box {
    width: 100%;
    height: 350px;
    align-items: center;
    padding: 10px;
    background: var(--color-primary);
    color: var(--white);
    border-radius: 10px;
    font-weight: bolder;
    margin-bottom: 1px;
    justify-content: space-around;
}

#semana-box {
    width: 100%;
    color: var(--white);
    background-color: transparent;
    justify-content: space-around;
}

#dia_box {
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: transparent;
    color: var(--white);

}

h3 {
    margin: 0;
}

.dia {
    width: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    font-weight: lighter;
    cursor: pointer;
    border: solid transparent 1px;

}

.dia:hover {
    border-radius: 90px;
    color: black;
    border: solid white 1px;
    background-color: white;

}

/*BOX DE COMENTARIO*/
#comentario-box {
    height: 200px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.comentario {
    text-align: start;
    width: 90%;
    height: 80%;
    background-color: transparent;
    border: none;
}

.comentario::placeholder {
    font-size: 15px;
}

#div_textarea_button {
    display: flex;
    justify-content: center;
}

#out_session {
    font-weight: bold !important;

}

#container_sistema_muscular {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#text_sistema_muscular {
    padding-top: 10px;
    width: 50%;
    line-height: 30px;
    padding-bottom: 10px;
    font-weight: 700;
}

.out_session:hover #spansession {
    color: var(--color-primary-light) !important;
    cursor: pointer;
}

.out_session:hover .fa-power-off {
    color: var(--color-primary-light) !important;
    cursor: pointer;
}

.out_session,
.fa-power-off,
.out-session span {
    color: var(--white) !important;
    cursor: pointer !important;
}

#div_dinamica_performance {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-y: auto;
}

#div_dinamica_performance::-webkit-scrollbar {
    color: var(--green);
}

table {
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    color: var(--white);
}

thead {
    background-color: #393939;
    height: 60px;

}

th {
    padding-top: 20px;
    align-items: center;
    color: var(--green);
    font-weight: bold;
}

tbody,
td {
    padding-top: 20px;
    height: 55px;
    color: var(--color-grey-light);
}

#mensagem_randomica {
    background-color: var(--green);
    position: absolute;
    top: -10px;
    align-self: center;
    border-radius: 10px;
    color: var(--white);
    text-align: center;
    width: 350px;
    height: 50px;
    animation: animation-to-bottom .4s ease;

}

.body_modal_flex_row {
    display: flex;
    flex-direction: row;
}

.white {
    color: var(--white);
}

@keyframes animation-to-bottom {
    from {
        top: -100px;
    }

    to {
        top: -10px;
    }
}