.boxes {
    margin: 30px;
    justify-content: space-evenly;
    height: auto;
}

.card-box {
    width: 313px;
    height: 338px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    justify-content: center;
    color: var(--desabled);
    font-weight: bold;

}

.container-lg h1 {
    padding-top: 20px;

    font-family: "Facon";
}

.container_projeto_frase {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 100%;
    text-align: center;
}

#contem-texto {
    margin-top: 30px;

    width: 50%;
}

#muzy-box {
    background-image: url(../images/muzy-box.png);
}

#nutricao-box {
    background-image: url(../images/nutricao-box.png);
}

#evolution-box {
    background-image: url(../images/evolucao-box.png);
}

.card-box:hover {
    color: var(--white-dash);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

#muzy-box:hover {
    background-image: url(../images/muzy-box-original.png);
}

#nutricao-box:hover {
    background-image: url(../images/nutricao-box-original.png);
}

#evolution-box:hover {
    background-image: url(../images/evolucao-box-original.png);
}